<section class="inventory-section">   
  <% if @inventories.length > 0 %>    
    <ul>
      <% @inventories.each do |inventory| %>
        <li>
          <div class="inventories-list">
            <span>
              <a href="<%= inventory_path(inventory) %>"><h2><%= inventory.name%></h2></a>
              <%= button_to "REMOVE", inventory,class:"inventory-delete", method: :delete %>
            </span>
          <p><%= inventory.description%></p>
          </div>
        <li>
      <% end %>
    </ul>
  <% else %>
    <h3 class="inventory-empty-data">No Inventories!</h3>
  <% end %>
  <%= link_to "Create new inventory", new_inventory_path, class:"inventory-new" %>
</section>
