<%= render "recipe_header" %>
<% if @recipe.related_recipe_foods.length > 0 %>
<table>
<tr>
<th>Food</th>
<th>Quantity</th>
<th>Value</th>
<th>Actions</th>
</tr>
<% @recipe.related_recipe_foods.each do |recipe_food| %>
<tr>
<td><%= recipe_food.food.name %></td>
<td><%= recipe_food.quantity %><%= recipe_food.food.measurment_unit %></td>
<td><%= recipe_food.food.price %></td>
<td> 
  <% if @recipe.user_id == current_user.id%>
  <%= button_to "Modify Remove", recipe_recipe_food_path(recipe_food.recipe.id, recipe_food), method: :delete , class:"inventory-remove"%>
  <% end%>
</td>
</tr>
<% end %>
</table>
<% else %>
<h3 class="recipe-empty-data">No Food added to this Recipe</h2>
<% end %>
