<div>
<span class="new-food"><%= link_to "New food", new_food_path %></span>

<div id="foods">
    <table class="food-table">
    <tr>
    <th>Food</th>
    <th>Measurement unit</th>
    <th>Unit price</th>
    <th>Actions</th>
    </tr>
    <% @foods.each do |food| %>
    <tr>
    <td><%= food.name %></td>
    <td><%= food.measurment_unit %></td>
    <td><%= food.price %></td>
    <td><%= button_to "Delete", { :action => 'destroy', :id => food.id }, :method => :delete %></td>
    <tr>
      <% end %>
    </table>
</div>
</div>